# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Streamlit local secrets
.streamlit/secrets.toml

# Local env files
.env

# SQLite DB
*.db
*.sqlite
*.sqlite3

# OS / editor
.DS_Store
Thumbs.db
.vscode/
